* {
    margin: 0;
    padding: 0;
}
html{
    scroll-snap-type: y mandatory;
    background-repeat: no-repeat;
}
header {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 3vmax;
    height: 100vh;
    background-color: black;
}

header img {
    width: 3vmax;
    height: 5vmax;
    height: fit-content;
        background-size: contain;
}

header h1 {
    align-self: center;
    text-align: center;
    font-size: 6vmax;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
    padding: 3vmax;
    margin-top: 20dvh;
}

header h1 p {
    font-size: 3vmax;
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    padding: 3vmax;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.drawer {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: black;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: "League Spartan";
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.drawer ul {
    list-style-type: none;
}

.drawer h3 {
    font-weight: 400;
    line-height: 5vmax;
    margin-right: 10%;
}

.drawer ul li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 5vmax;
    font-weight: 700;
    background-color: white;
    color: black;
    display: block;
    transition: 0.3s;
}

.drawer ul li:hover {
    background-color: #ddd;
}

.drawer ul li a {
    color: black;
    text-decoration: none;
}

.drawer-toggle {
    font-size: 30px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

.drawer-open {
    width: 100vw;
}

.drawer-close {
    font-size: 30px;
    background: none;
    color: black;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}

.projects div {
    width: 20vmax;
    height: fit-content;
    margin: 3vmax;
    background-size: contain;
    border-radius: 3vmax;
    background: linear-gradient(rgb(43, 43, 44), rgb(26, 27, 27));
    box-shadow: 7px 7px 23px #979393,
            -7px -7px 23px #f1ebeb;
}

.projects div h1 {
    padding: 2vmax;
    text-align: center;
    text-wrap: wrap;
}
.projects span img{
    padding: 1vmax;
    width: 2vmax;
    height: 2vmax;
}
.projects a {
    text-decoration: none;
    color: white;
}

.projects span{
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    justify-content: space-evenly;
}
.projects h3 {
    padding: 1vmax;
    text-align: center;
    font-family:'League Spartan';
}
.projects p{
    padding: 2vmax;
    font-family: "Dancing Script", cursive;
    font-size: large;
}
.btn-12,
.btn-12 *,
.btn-12 :after,
.btn-12 :before,
.btn-12:after,
.btn-12:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-12 {
    -webkit-tap-highlight-color: transparent;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    mask-image:-webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-transform: uppercase;
}

.btn-12:disabled {
    cursor: default;
}

.btn-12:-moz-focusring {
    outline: auto;
}

.btn-12 svg {
    display: block;
}

.btn-12 [hidden] {
    display: none;
}

.btn-12 {
    border-radius: 99rem;
    position: relative;
    margin: 3vmax;
    left: 40vw;
    border-width: 2px;
    overflow: hidden;
    padding: 0.8rem 3rem;
    position: relative;
}

.btn-12 span {
    mix-blend-mode: difference;
}

.btn-12:after,
.btn-12:before {
    background: linear-gradient(90deg,
            #fff 25%,
            transparent 0,
            transparent 50%,
            #fff 0,
            #fff 75%,
            transparent 0);
    content: "";
    inset: 0;
    position: absolute;
    transform: translateY(var(--progress, 100%));
    transition: transform 0.2s ease;
}

.btn-12:after {
    --progress: -100%;
    background: linear-gradient(90deg,
            transparent 0,
            transparent 25%,
            #fff 0,
            #fff 50%,
            transparent 0,
            transparent 75%,
            #fff 0);
    z-index: -1;
}

.btn-12:hover:after,
.btn-12:hover:before {
    --progress: 0;
}

footer {
    background-color: black;
    color: white;
    height: 30vh;
    padding: 10vmax;
    font-family: "Roboto";
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

footer li {
    margin: 1vmax;
}
footer a {
    text-decoration: none;
    color: inherit;
}

footer img {
    width: 8vw;
    height: auto;
}