* {
    margin: 0;
    padding: 0;
}

header {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 3vmax;
    height: 100%;
    background-color: black;
}

header img {
    width: 3vmax;
    height: 5vmax;
    height: fit-content;
    background-size: contain;
}

header h1 {
    align-self: center;
    text-align: center;
    font-size: 6vmax;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
    padding: 3vmax;
    margin-top: 20dvh;
}

header h1 p {
    font-size: 3vmax;
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    padding: 3vmax;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.drawer {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: black;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: "League Spartan";
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.drawer ul {
    list-style-type: none;
}

.drawer h3 {
    font-weight: 400;
    line-height: 5vmax;
    margin-right: 10%;
}

.drawer ul li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 5vmax;
    font-weight: 700;
    background-color: white;
    color: black;
    display: block;
    transition: 0.3s;
}

.drawer ul li:hover {
    background-color: #ddd;
}

.drawer ul li a {
    color: black;
    text-decoration: none;
}

.drawer-toggle {
    font-size: 30px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

.drawer-open {
    width: 100vw;
}

.drawer-close {
    font-size: 30px;
    background: none;
    color: black;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

section {
    margin: 0%;
    padding: 3vmax;
    display: flex;
    flex-direction: column;
}
.background ,.hobbies{
    margin: 3vmax;
    line-height: 5vh;
}
.background h2,.hobbies h2{
    font-family: 'League Spartan',sans-serif;
    font-weight: bold;
    font-size: larger;
}
.background p, .hobbies p{
    font-family: 'Roboto',sans-serif;
    font-size:1em;
}
section img{
    align-self: center;
    filter: grayscale(100%);
    border-radius: 30%;
    image-rendering:optimizeQuality;
}
footer {
    background-color: black;
    color: white;
    height: 30vh;
    padding: 10vmax;
    font-family: "Roboto";
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

footer li {
    margin: 1vmax;
}
footer a {
    text-decoration: none;
    color: inherit;
    padding: 5vmax;
}

footer img {
    width: 8vw;
    height: auto;
}